/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
body {
  margin: 0;
  padding: 100px 0px;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

h1 {
  text-align: center;
  color: #ffa873;
  font-size: 48px;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: auto;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-link {
  color: #fff !important;
  margin: 0px 10px;
  text-transform: uppercase;
}
.nav-link:hover,
.navbar-brand {
  color: #fed136 !important;
}
.data h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 1rem;
}
.data p {
  font-style: italic;
  line-height: 36px;
  margin-bottom: 1rem;
}
.our-team {
  background: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0px 25px;
  padding: 30px 70px;
}
.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
}
.our-team .pic::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #ffa873;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic::before {
  height: 100%;
}
.our-team .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffa873;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.our-team:hover .pic img {
  box-shadow: 0 0 0 14px;
  transform: scale(0.7);
}
.our-team .team-content {
  margin-bottom: 30px;
}

.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
}
.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffa873;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social {
  bottom: 0;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
  color: #ffa873;
  background: #f7f5ec;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }
  .our-team {
    width: 80%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
